
$color-gris: rgb(170, 170, 170);
$color-letra: white;
$letra-encabezado: "Poppins", sans-serif;
$letra-finita: 'Bree Serif', serif;
$color-oscuro: black;
$letras-parrafos: "Libre Franklin", sans-serif;