@import "utilities/_variables.scss";

.productosDestacados {
    background-color: $color-gris;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas:
      "destacados destacados destacados"
      "foto1 foto2 foto3"
      "foto4 foto5 foto6";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .destacados {
    font-family: $letra-finita;
    color: $color-letra;
    font-size: 50px;
    grid-area: destacados;
    text-align: center;
  }
  .foto1 {
    border-radius: 20px;
    width: 100%;
    height: auto;
    grid-area: foto1;
  }
  .foto2 {
    @extend .foto1;
    grid-area: foto2;
  }
  .foto3 {
    @extend .foto1;
    grid-area: foto3;
  }
  .foto4 {
    @extend .foto1;
    grid-area: foto4;
  }
  .foto5 {
    @extend .foto1;
    grid-area: foto5;
  }
  .foto6 {
    @extend .foto1;
    grid-area: foto6;
  }
  