@import "utilities/_variables.scss";


.promos {
    background-color: $color-gris;
    color: $color-letra;
    text-align: center;
    font-family: $letra-encabezado;
    margin-bottom: 1rem;
    margin-top: 0px;
    margin-left: 0px;
  }
.banner {
    width: 100%;
}