@import "utilities/_variables.scss";

.tituloPrincipal{
    color: $color-oscuro;
    background-color:$color-letra;
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.col{
    margin-bottom: 50px;
  }
.cartas{
    margin-left: 50px;
    margin-right: 50px;
  }
  