@media only screen and (max-width: 992px) {
    .promos {
      font-size: 17px;
      margin-bottom: 8px;
    }
    .header1{
        margin-bottom: 8px;
    }
    .tituloPrincipal {
      font-size: 35px;
    }
    .destacados{
        font-size: 40px; 
    }
    .categorias {
        font-size: 35px;
    }
    .titulos {
        font-size: 25px;
    }
    .parrafo {
        margin-left: 50px;
        margin-right: 50px;
    }
    .iconos {
        width: 100px;
        height: 100px;
    }
  }
  @media only screen and (max-width: 768px) {
    .promos {
      font-size: 16px;
    }

  }
  @media only screen and (max-width: 576px) {
    .promos {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .header1{
        margin-bottom: 5px;
    }
    .tituloPrincipal {
      font-size: 30px;
    }
    .titulos {
        font-size: 20px;
    }
    .destacados{
        font-size: 30px; 
    }
    .parrafo {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 15px;
    }
    .productosDestacados {
        grid-template-rows: 70px 1fr 1fr;
    }
    .categorias {
        font-size: 25px;
    }
    .iconos {
        width: 60px;
        height: 60px;
    }
    .footer .slogan{
        padding-right: 0px;
    }
    .direccion{
        padding-top: 30px;
      }
    .location-contacto{
        margin-top: 20px;
    }
    footer {
      font-size: 13px;
    }
    .error{
        font-size: 20px;
    }
  }
  @media only screen and (max-width: 320px) {
    .promos {
      font-size: 13px;
      margin-bottom: 3px;
    }
    .header1{
        margin-bottom: 3px;
    }
    .tituloPrincipal {
      font-size: 25px;
    }
    .titulos {
        font-size: 15px;
    }
    .destacados{
        font-size: 20px; 
    }
    .productosDestacados {
        grid-template-rows: 40px 1fr 1fr;
    }
    .categorias {
        font-size: 20px;
    }
    .parraafo  {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 12px;
    }
    .iconos {
        width: 45px;
        height: 45px;
    }
    .footer .slogan{
        padding-right: 0px;
    }
    .direccion{
        padding-top: 30px;
    }
    .location-contacto{
        margin-top: 15px;
    }
    footer {
      font-size: 10px;
    }
    .error{
        font-size: 15px;
    }
  }