/*@media only screen and (max-width: 1400px) {
}
*/
/* @media only screen and (max-width: 1200px) { 
}
*/
@media only screen and (max-width: 992px) {
  .header1 {
    font-size: 15px;
  }
  .destacados {
    font-size: 35px;
  }
  .iconos {
    width: 100px;
    height: 100px;
  }
  .categorias {
    font-size: 35px;
  }
  footer {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .header1 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 576px) {
  .productosDestacados {
    grid-template-rows: 70px 1fr 1fr;
  }

  .destacados {
    font-size: 25px;
    margin: 0px;
  }
  .iconos {
    width: 60px;
    height: 60px;
  }
  .categorias {
    font-size: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .header1 {
    font-size: 10px;
  }
  .productosDestacados {
    grid-template-rows: 40px 1fr 1fr;
  }

  .destacados {
    font-size: 20px;
    margin: 0px;
  }
  .iconos {
    width: 45px;
    height: 45px;
  }
  .categorias {
    font-size: 20px;
  }
  footer {
    font-size: 10px;
  }
}
