@media only screen and (max-width: 992px) {
  h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 576px) {
  p {
    font-size: 13px;
  }
  ul {
    font-size: 11px;
  }
  h1 {
    font-size: 30px;
  }
  label {
    font-size: 15px;
  }
  footer {
    font-size: 13px;
  }
}
@media only screen and (max-width: 320px) {
  p {
    font-size: 10px;
  }
  ul {
    font-size: 10px;
  }
  h1 {
    font-size: 25px;
  }
  label {
    font-size: 13px;
  }
  footer {
    font-size: 10px;
  }
}
